//////////////ABOUT//////////////////
@mixin about{
  #about{
    .about_group{
      margin-top: 80px;
      position: relative;
      @include media768 {
        margin-top: 0;
      }

      .about_width{
        display: flex;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        @include media1500 {
          padding-left: 50px;
          padding-right: 50px;
        }
        @include media1024 {
          padding-left: 40px;
          padding-right: 40px;
        }
        @include media768 {
          padding-left: 25px;
          padding-right: 25px;
        }

        .about_word{
          width: 50%;
          padding-right: 50px;  
          @include media768 {
            width: 100%;
            padding-right: 0;
          }
          h3{
            font-size: 22px;
            font-family: $fontNoto;
            font-weight: 700;
          }
          p{
            padding-top: 40px;
            font-size: 17px;
            font-family: $fontNoto;
            font-weight: 400;
            line-height: 2;
          }
        }
      }

      .about_photo{
        position: absolute;
        width: 50%;
        height: auto;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        @include media768 {
          position: relative;
          width: 100%;
          padding-left: 10%;
          transform: none;
        }
      }


      &:last-child{
        margin-top: 200px;
        @include media768 {
          margin-top: 50px;
        }

        .about_width{
          justify-content: end;
          .about_word{
            padding-right: 0;
            padding-left: 50px;  
            @include media768 {
              padding-left: 0;
            }
          }
        }

        .about_photo{
          left: 0;
          right: auto;
          @include media768 {
            padding-left: 0;
            padding-right: 10%;
          }
        }
      }
    }
      
  }//#about
}

